<IfModule mod_rewrite.c>
    RewriteEngine On
	
	#php_value upload_max_filesize 30000M
	#php_value post_max_size 30000M
	#php_value memory_limit 30000M

	#RewriteRule ^(.*)$ public/$1 [L]
	
	RewriteCond %{HTTP:Authorization} ^(.*)
	RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ ^$1 [N]

    RewriteCond %{REQUEST_URI} (\.\w+$) [NC]
    RewriteRule ^(.*)$ public/$1 

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ server.php
	
</IfModule>